<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Back Hotel</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">
</head>

<style>
    body,
    html {
        height: 100%;
        margin: 0%;
    }
    
    .bg {
        height: 100%;
        background-image: url(img/background.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .center {
        position: absolute;
        top: 30%;
        transform: translateY(-50);
        width: 100%;
    }
</style>

<body>
    <div id="app" class="bg">


        <div class="container-fluid center">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="card" style="opacity: 0.8;">
                        <div class="card-body">
                            <h7 class="crad-title">admin2@backhotel.com admin@123</h7>
                            <h3 class="crad-title"><i class="fas fa-hotel"></i>Back hotel</h3>
                            <p class="card-text">

                            </p>
                            <div class="input-group mb-3 input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                <input type="text" class="form-control" v-model="loginfrm.email" placeholder="E-mail">
                            </div>

                            <div class="input-group mb-3 input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" v-model="loginfrm.password" placeholder="Password">
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-outline-info" @click="loginfn">Login</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-firestore.js"></script>
    <script src="cordova.js"></script>
    <script src="js/index.js"></script>
    <script src="vendor/jquery/js/jquery-3.5.1.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/vuejs/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                loginfrm: {
                    email: null,
                    password: null
                }
            },
            methods: {
                initfn() {
                    this.loginfrm = {
                        email: null,
                        password: null
                    }
                },
                loginfn() {
                    firebase.auth().signInWithEmailAndPassword(this.loginfrm.email, this.loginfrm.password)
                        .then(() => {
                            let user = firebase.auth().currentUser;
                            if (!user) {
                                alert('email or password is incorrect.');
                            }
                        })
                        .catch(error => {
                            alert(error.message);
                        });

                },
                chkauthfn() {
                    firebase.auth().onAuthStateChanged(user => {
                        if (user) {
                            window.location.replace('index.html');
                        }
                    });
                }
            },
            mounted() {
                this.initfn();
                this.chkauthfn();
            },
        });
    </script>
</body>

</html>